*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar{
  background-color: rgb(41, 35, 29);
  padding: 20px;
  margin-bottom: 50px;
}
.navbar-1 {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(222, 220, 220);
}
.navbar-a {
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(191, 193, 193);
}
.navbar-container {
  display: flex;
  align-items: center;
}
.heading {
  max-width: 1200px;
  margin: 0 auto 32px auto;
  padding: 50px ;
  background-color: #f2f1f1;
}
.main-heading {
  font-weight: 600;
  display: inline;
  font-size: 50px;
  
}
.secondary-heading {
  color: #0d0d0d;
  margin-left: 0px;
  font-size: 20px;
}
.btn{
  background-color:  rgb(74, 132, 249);
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f2f1f1;
  border: none;
  border-radius: 4px;
}

 .latest-feature {
      font-size: 24px;
      font-weight: bold;
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 20px;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
 }
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  max-width: 1200px;
  margin-left: 0;
  margin: 0 auto;
  padding: 0 16px;
  
}
.card {
  background: white;
  border-radius: 4px;
  border-color: #e1dfdf;
  border-style: solid;
  border-width: 1px;
  box-shadow:  0 2px 8px rgba(235, 235, 235, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 0;
}
.img {
  background: #e6e3e3;
  width: 100%;
  height: 5vh;
  padding-bottom: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 32px;
  position: relative;
}
.img span{
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.body {
  padding: 25px;
  

}
.title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #333;
  margin-top: 5px;
 
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.btn1{
  background-color: rgb(74, 132, 249);
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 5px; 
  margin-bottom: 5px;
  color: #e6e3e3;
  border: none;
  border-radius: 4px;
}
.btn2{
  cursor: pointer;
   padding: 3px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
 margin-left: 2px;
  color: #888;
}
.footer {
  max-width: 1200px;
  margin: 32px auto 0 auto;
  padding: 16px;
  color: #888;
  font-size: 14px;
}
@media (max-width: 1280px)and (min-width: 900px){
  .grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .card {
  background: white;
  border-radius: 4px;
  border-color: #e1dfdf;
  border-style: solid;
  border-width: 1px;
  box-shadow:  rgba(237, 233, 233, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.img {
  background: #e6e3e3;
  width: 100%;
  height: 5vh;
  padding-bottom: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 32px;
  position: relative;
}
.img span{
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.body {
  padding: 25px;
  
}
.btn1{
  background-color: rgb(74, 132, 249);
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 5px; 
  margin-bottom: 5px;
 
  color: #e6e3e3;
  border: none;
  border-radius: 4px;
  font-size: 10px;
}
.btn2{
  cursor: pointer;
   padding: 3px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  color: #888;
  font-size: 10px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


.text{
  font-size: 12px;
  color: #333;
  margin-top: 5px;
  margin-left: auto;
}
}

@media (max-width: 900px)and (min-width: 600px) {
  .navbar{
    margin-bottom: 30px;
  }
  .heading{
    padding: 20px;
    max-width: 100%;
  }
  .grid-container{
    grid-template-columns: 1fr 1fr ;
    gap: 16px;
  }
  .footer{
    max-width: 100%;
  }
  .latest-feature{
    margin-left: 0px;
  }
  .main-heading {
        font-size: 32px;
      }
  .secondary-heading {
        font-size: 16px;
      }
}
@media (max-width: 600px)and (min-width: 100px) {
  .navbar-container{
   
    display: grid;
    grid-template-columns: 1fr ;
  }
  .heading{
    padding: 10px;
  }
  .grid-container{
    grid-template-columns: 1fr ;
    gap: 16px;
  }
  .heading {
    
    font-size: 16px;
  }
  .footer {
    
    font-size: 16px;
  }
  .main-heading {
    font-size: 22px;
  }
  .secondary-heading {
    font-size: 16px;
  }
 
  .img {
    font-size: 24px;
    
  }
  .latest-feature{
    margin-left: 0px;
  }
  .text {
    font-size: 13px;
  }
  .btn1{
  background-color: rgb(74, 132, 249);
  cursor: pointer;
  padding: 0px 3px;
 
}
.btn2{
  cursor: pointer;
   padding: 7px 14px;
   font-size: 16px;
   margin-left: 2px;

 }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .btn1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e6e3e3;
    border: none;
    border-radius: 4px;
  } 
 

  .btn,
  .btn1
   {
    padding: 8px 16px;
    font-size: 16px;
   ;
  }

}